ConnectionStrings__DefaultConnection=
Jwt__Key=
Jwt__Issuer=CareFundBackend
Jwt__Audience=CareFundFrontend
Smtp__Host=smtp-relay.brevo.com
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=
Smtp__EnableSsl=true
Brevo__ApiKey=
Twilio__AccountSid=
Twilio__AuthToken=
Twilio__FromPhone=
Razorpay__KeyId=
Razorpay__Mode=test
Razorpay__Currency=INR
Razorpay__MerchantName=CareFund Foundation
Razorpay__Description=Donation payment
